<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p align="justify"> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>RBC (1 year) </h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p align="justify">This was very first "real world" job! I worked as an Automation Analyst at RBC for four months and developed XML converter utility for the company which gave them ROI of $4000/month! (Source: My lovely manager). I decided to switch teams (even though they gave me another offer!) within the company as I loved the work culture and was offered a Software Developer position where I gained a lot of DevOps experience. My work included developing complex infrastructure management applications such as Interac's Auto-Deposit and Request Money which gave me exposure to REST and SOAP based API frameworks.</p>
    </div>
    <div class="four columns">
      <h4>U of T (8 months) </h4>
      <i class="devicon-vuejs-plain colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <p align="justify">Not only did I complete my education at U of T but I also had the chance to teach a Python class when I was in my second year! Hence, Python quickly became one of my favourite languages to work with given it's simplicity and efficiency. Its the perfect language to teach others as students don't have to worry about dangling pointers or memory allocation. I also had an opportunity to work as a 
      Full Stack Developer which was a work study position with the department of psychology at UTSC. I was responsible for both the backend and frontend of the peerScholar application which is built using the JavaScript framework VueJS and makes use of mySQL and graphQL.</p>
    </div>
    <div class="four columns">
      <h4>TD (1.5 years +) </h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p align="justify"> After starting my position at TD, I fell in love with Linux! From finding the kernel version to change priority of jobs to piping and taring, you name it and I can probably do it. (Except developing code in vi....) Even though I was mainly working with the Linux terminal that didn't stop me from developing automated python scripts for other teams. For example, I build one script for mid-tier, metadata and compute servers which automatically cleans up file systems and user processes when certain usage % threshold is met. Additionally, one of other scripts did a lot of data cruching through GB's worth of log files in seconds and pulled up user statistics to help support teams analyze and resolve problems quicker.</p>
    </div>
</div>
</div>
