<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  #<div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Python is one of my favourite languages to work with given it's simplicity. 
        My last big project involved creating an XML converter which was coded entirely using Python. 
        On the other hand, I have created several projects with Java including Vacuum Game and the Flight Booking application. 
        Last but not the least, I have been using C to work on my latest projects shown below. 
        My upcoming goal is to build upon my knowledge in C and transition into learning C++.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  #</div>
</div>
