<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="noise_field" src="{{ "/assets/img/noise_field.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Basic Image Processing </h5>
      <li> Made using C</li>
      <p>Implementing some functions for manipulating images. Here I use the PPM (portable pix map) format, as it is one of the easiest to understand and process. PPM is often used as an intermediary format, i.e. the lowest common denominator color image format, that nearly all other formats (e.g. jpg, gif, png) can be translated to and from.</p>
      <a class="project-link" href="https://github.com/Patel-Sid/Basic-Image-Processing">Check it out!</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="image_database" src="{{ "/assets/img/img_database.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Image Database </h5>
      <ul>
        <li> Made using C</li>
      </ul>
      <p>The database will allow users to query its contents to find all images that have particular attributes. More precisely, the database will keep track of three different attributes for each image: its predominant colour, shape and texture. The database will support three different functions: The user can add new images to the database by specifying the file name and the values for the three attributes. The user can query the database by specifying the values for the three attributes and the database will return the names of all image files that match these attributes. The user can ask to have the database contents printed to the screen (i.e. the names of all files stored in the database together with their attributes).</p>
      <a class="project-link" href="https://github.com/Patel-Sid/Image-Database">Check it out!</a>
    </div>
  </div>
</div>
